{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dlp:dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Istec DLP <sup>0.1</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dlp:dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Policy Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePolicy"
            aria-expanded="true" aria-controls="collapsePolicy">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Policy</span>
        </a>
        <div id="collapsePolicy" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Policy:</h6>
                <a class="collapse-item" href="{% url 'dlp:policy' %}">General Policy</a>
                <a class="collapse-item" href="{% url 'dlp:policy' %}">Discovery Policy</a>
                <a class="collapse-item" href="{% url 'dlp:policy' %}">Reports</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Revisions -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dlp:rules' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Rules</span></a>
    </li>

    <!-- Nav Item - Logs -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dlp:logs' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Logs</span></a>
    </li>
    {% if request.user.is_superuser %}
    <!-- Nav Item - Settings Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
                aria-expanded="true" aria-controls="collapseSettings">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Settings</span>
            </a>
            <div id="collapseSettings" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Settings:</h6>
                    <a class="collapse-item" href="{% url 'account:users' %}">Users</a>
                    <a class="collapse-item" href="{% url 'dlp:policy' %}">Protocols</a>
                    <a class="collapse-item" href="{% url 'dlp:policy' %}">Endpoint</a>
                    <a class="collapse-item" href="{% url 'dlp:policy' %}">Advanced</a>
                    <a class="collapse-item" href="{% url 'dlp:policy' %}">Enterprise</a>
                </div>
            </div>
        </li>
    {% endif %}

   
    <!-- Nav Item - Endpoints -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Endpoints</span></a>
    </li>

    

    <!-- Nav Item - License -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>License</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->